.link, .link Link:visited {
    font-size: 10px;
    font-style: bold;
    color: var(--primary);
    text-decoration: none;
}
aside {
  margin: 0;
  width: 80%;
}
.h2-aside {
  text-align: center;
  margin: auto;
}

.link a, .link a:link, .link a:visited, .link a:hover, .link a:active, .link a:focus {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Keeps the link color consistent with the parent element */
}

.flex-container {
  display: flex;
  justify-content: center;
}

.border-flip {
    display: inline-block;
    padding: 15px;
    width: 180px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    background: none;
    border: none;
  } 
   
  .border-flip::before {
    content: "";
    position: absolute;
    inset: 0px;
    transform: perspective(350px) rotateX(0deg);
    transition: all 0.35s ease 0s;
  } 
   
  .border-flip:hover::before {
    transition: all 0.35s ease 0s;
    transform: perspective(350px) rotateX(-180deg);
  } 
   
  .border-flip--orange {
    color: rgb(254, 198, 77);
  } 
   
  .border-flip--orange::before {
    border: 3px solid rgb(254, 198, 77);
  } 
   
  .btn {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  } 
   
  .btn:hover .btn-slide-show-text1 {
    margin-left: 65px;
  } 
   