.about, .home {
    font-size: 16px;
    font-style: bold;
    color: var(--primary);
    text-decoration: none;
    margin: auto;
    text-align: center;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px double var(--primary);
    min-width: 100%;
    margin: auto;
    width: fit-content;
    padding-bottom: 1em;
}

nav {
    display: flex;
    justify-content: center;
}

.title {
    margin-bottom: 0.10em; /* Adjust space between title and links */
}
