.about, .home {
    font-size: 16px;
    font-style: bold;
    color: var(--primary);
    text-decoration: none;
    margin: auto;
    text-align: center;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the space between the links */
}

.title {
    margin-bottom: 10px; /* Adjust space between title and links */
}
