section.students {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1em;
  gap: 1em;
  width: fit-content;
}

.student {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.student-list {
  width: 80%;
  /* margin-left: 20%; */
  border: #ffd069;
}

div.student {
  border-radius: 3px;
  display: block;
  margin-left: 10%;
  text-align: center;
  background: url(https://science.nasa.gov/_ipx/animated_true&w_2048&f_webp/https://images-assets.nasa.gov/image/PIA10497/PIA10497~orig.jpg%3Fw=1013%26h=1018%26fit=clip%26crop=faces%252Cfocalpoint);
  background-size: cover;
  background-position: fixed;
}

img, .profile-pic {
    margin-top: 1em;
    margin-left: auto;  /* Centers the image horizontally */
    margin-right: auto; /* Centers the image horizontally */
    border-radius: 25%;
    max-width: 70%;
    display: block;
}

.all-students-h2 {
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  top: 5px;
}

h2 {
  text-align: center;
  margin: auto;
  top: 5px; 
}

.h3-total-students {
  text-align: center;
  color: var(--primary);
  font-weight: 300;
  margin: 0;
}

.student-ul {
    height: 12vw;
    width: auto;
    list-style-type: none; /* Removes bullet points */
    text-align: center;   /* Centers the text */
    padding: 0; 
    overflow-x: auto; /* Horizontal scroll bar will appear if the content overflows */
    overflow-y: auto;
    margin-bottom: 25px;

}
li {
    overflow-wrap: break-word;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.36);
    font-size: 10px;
    margin: 2px auto;
    border-radius: 5px;
}

.student-list a, .student-list a:link, .student-list a:visited, .student-list a:hover, .student-list a:active, .student-list a:focus {
    text-decoration: none;
    color: inherit;
}

.scores {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.scores div {
  display: inline;
}

@media only screen and (max-width: 768px) {
  section.students {
    display: grid;
    grid-template-columns: 1fr;
    /* justify-items: center;
    align-items: center; */
  }
}