:root {
    --black: #000000;
    --white: #fffcf9;
    --primary: #ffd069;
}
body, html {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0 auto;
    /* width: fit-content; */
    /* border wasn't as big as page width / content until using "fit-content" */
    text-align: center; /* Centers text and inline elements */
    /* margin: 0; */
    padding-bottom: 15%;
    height: 1vw;
    box-sizing: border-box;
    
}

h1.title {
    text-align: center;
}

.container {
    padding-top: 1em;
    margin-top: 1em;
      display: grid;
      gap: 1em;
      grid-template-columns: 1fr 2fr;
      margin: auto;
      width: fit-content;
      /* padding-left: 1em;
      padding-right: 1em; */
}

@media only screen and (max-width: 768px) {
/* will apply the styles when the browser window is less than or equal to 768 pixels in width, which is typical for mobile devices */
    body, html {
        font-size: 14px; /* Adjusted for mobile, smaller font size */
        margin: auto;
        min-width: 100%; /* Adjusted for mobile, full width */
        padding-bottom: 10%; /* Adjusted padding for mobile */
    }

    h1.title {
        text-align: center;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr; /* Adjusted for mobile, single column layout */
        justify-items: center;
        align-items: center;
        margin: 0 auto;
        width: fit-content;

    }
/* justify-items: center; is used to center the content horizontally within each grid item.
align-items: center; is used to center the content vertically within each grid item.
 */
}
