:root {
    --black: #000000;
    --white: #fffcf9;
    --primary: #ffd069;
}
body, html {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: auto;
    min-width: 80%;
    /* padding: 0; */
    padding-bottom: 15%;
}

h1.title {
    text-align: center;
}

.container {
    margin-top: 1em;
      display: grid;
      gap: 1em;
      grid-template-columns: 1fr 2fr;
    }