:root {
    --black: #000000;
    --white: #fffcf9;
    --primary: #ffd069;
}
body, html {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: auto;
    width: fit-content;
    /* border wasn't as big as page width / content until using "fit-content" */
    padding-bottom: 15%;
}

h1.title {
    text-align: center;
}

.container {
    margin-top: 1em;
      display: grid;
      gap: 1em;
}

@media only screen and (max-width: 600px) {

    body, html {
        font-size: 14px; /* Adjusted for mobile, smaller font size */
        margin: auto;
        min-width: 100%; /* Adjusted for mobile, full width */
        padding-bottom: 10%; /* Adjusted padding for mobile */
    }

    h1.title {
        text-align: center;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr; /* Adjusted for mobile, single column layout */
        justify-items: center;
        align-items: center;
        margin: auto;
        width: fit-content;
    }
/* justify-items: center; is used to center the content horizontally within each grid item.
align-items: center; is used to center the content vertically within each grid item.
 */
}
